body{
    background-color: #232323;
    margin: 0;
    font-family: 'Segoe UI';
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 10%;
    transition: background 0.4s;
    --webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
}

#container{
    margin: 20px auto;
    max-width: 600px;
}

h1{
    color: white;
    line-height: 1.3;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    background-color: steelblue;
    margin: 0;
    padding: 20px 0;
}

#colorDisplay{
    font-size: 200%;
}

#message{
    display: inline-block;
    width: 20%;
}

#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected{
    color: white;
    background: steelblue;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: 1000;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.2s;
    --webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

button:hover{
    color: white;
    background: steelblue;
}